################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/signalrapp.metadata.v9.bin
/.vs/SignalRapp/FileContentIndex/a03ac26a-8c64-4f8f-b003-eefdb8ed7847.vsidx
/.vs/SignalRapp/FileContentIndex/d2eb6537-dd77-493d-a117-5f3c066bc47f.vsidx
/.vs/SignalRapp/FileContentIndex/bc37c770-1311-46db-91c3-644cf12a2022.vsidx
/.vs/ProjectEvaluation/signalrapp.projects.v9.bin
